@import "./mixins";

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem; /* 150px (150/10) */
  line-height: 1.9rem; /* 19px */
  padding-left: 15rem; /* 150px */
  padding-right: 8.6rem; /* 150px */
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: white;
  margin-top: 2.5rem; /* 25px */
  padding-top: 2.5rem; /* 25px */

  &__title {
    gap: 1rem; /* 10px */
    @include flex-center;

    &--icone {
      width: 3.5rem; /* 35px */
      height: 3.623rem; /* 36.23px */
    }

    &--title {
      text-align: center;
      font-size: 2rem; /* 20px - corrected from font-weight */
      font-weight: bold;
    }
  }

  &__navigation {
    font-size: 1.6rem; /* 16px */
    color: rgb(79, 86, 101, 1);

    ul {
      display: flex;
      gap: 4rem; /* 40px */
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__connection {
    @include flex-center;
    gap: 7.5rem; /* 75px */
    font-size: 1.6rem; /* 16px */
    font-weight: bold;

    &--out {
      @include flex-center;
      color: rgba(245, 56, 85, 1);
      border: 0.1rem solid rgba(245, 56, 85, 1); /* 1px */
      border-radius: 5rem; /* 50px */
      width: 15rem; /* 150px */
      height: 4.5rem; /* 45px */
    }

    &--in {
      width: 5.4rem; /* 54px */
    }
  }
}
