/* Css reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

/* End of reset */
/* `Define mixins */
/* `end of mixins */
html {
  font-size: 62.5%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 144rem;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/* `Define mixins */
/* `end of mixins */
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem; /* 150px (150/10) */
  line-height: 1.9rem; /* 19px */
  padding-left: 15rem; /* 150px */
  padding-right: 8.6rem; /* 150px */
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: white;
  margin-top: 2.5rem; /* 25px */
  padding-top: 2.5rem; /* 25px */
}
.header__title {
  gap: 1rem; /* 10px */
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__title--icone {
  width: 3.5rem; /* 35px */
  height: 3.623rem; /* 36.23px */
}
.header__title--title {
  text-align: center;
  font-size: 2rem; /* 20px - corrected from font-weight */
  font-weight: bold;
}
.header__navigation {
  font-size: 1.6rem; /* 16px */
  color: rgb(79, 86, 101);
}
.header__navigation ul {
  display: flex;
  gap: 4rem; /* 40px */
}
.header__navigation a {
  text-decoration: none;
  cursor: pointer;
}
.header__connection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem; /* 75px */
  font-size: 1.6rem; /* 16px */
  font-weight: bold;
}
.header__connection--out {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 56, 85);
  border: 0.1rem solid rgb(245, 56, 85); /* 1px */
  border-radius: 5rem; /* 50px */
  width: 15rem; /* 150px */
  height: 4.5rem; /* 45px */
}
.header__connection--in {
  width: 5.4rem; /* 54px */
}

.section__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 40.76px;
  align-items: center;
  padding-left: 150px;
  background-color: white;
}
.section__about--paragraph {
  margin-top: 116.15px;
  position: relative;
  top: -76px;
}
.section__about--paragraph_first {
  font-size: 50px;
  line-height: 70px;
  font-weight: 500;
  width: 555px;
  height: 140px;
}
.section__about--paragraph_first span {
  font-weight: 700;
}
.section__about--paragraph_second {
  margin-top: 20px;
  width: 555px;
  height: 60px;
  font-weight: 400;
  color: rgb(79, 86, 101);
}
.section__about--paragraph_second span {
  font-weight: 600;
}
.section__about--paragraph_button {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: white;
  border: 1px solid rgb(245, 56, 56);
  border-radius: 10px;
  background-color: rgb(245, 56, 56);
  width: 250px;
  height: 60px;
  box-shadow: 19px 25px 54px rgba(245, 56, 56, 0.35);
}
.section__about--image {
  margin-top: 88.49px;
  width: 611.24px;
  height: 382.44px;
  position: relative;
  top: -67px;
}
.section__about--infos {
  grid-column: -3/-1;
  grid-row: 2/3;
  display: flex;
  max-width: 1140px;
  height: 200px;
  border-radius: 10px;
  margin-top: 103px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -175px;
  box-shadow: 35.58px 42px 114px rgba(13, 16, 37, 0.06);
}
.section__about--infos .info {
  display: flex;
  gap: 36.5px;
  height: 125px;
  align-items: center;
}
.section__about--infos .info:not(:last-child) {
  border-right: 2px solid rgb(238, 239, 242);
}
.section__about--infos .info:nth-child(2) .info_paragraph p {
  margin-right: 134.5px;
}
.section__about--infos .info:nth-child(2) .info_icon {
  margin-left: 113px;
}
.section__about--infos .info_paragraph {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.section__about--infos .info_paragraph p:nth-child(1) {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-right: 129px;
}
.section__about--infos .info_paragraph p:nth-child(2) {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgb(79, 86, 101);
}
.section__about--infos .info_icon {
  width: 55px;
  height: 55px;
}
.section__about--infos .info_icon:first-child {
  margin-left: 91px;
}

.features {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 131px;
  padding-left: 150px;
  gap: 169.48px;
  background-color: white;
}
.features__paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.features__paragraph-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0;
}
.features__paragraph ul p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  color: rgb(79, 86, 101);
  margin-bottom: 20px;
  padding-right: 150px;
}
.features__paragraph li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.features__paragraph li span {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0;
  color: rgb(79, 86, 101);
}
.features__img {
  width: 508.12px;
  height: 414.71px;
}

/* `Define mixins */
/* `end of mixins */
.pricing {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  background: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.pricing__paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 58px;
}
.pricing__paragraph h2 {
  width: 383.4px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  width: 383.4px;
  height: 50px;
}
.pricing__paragraph p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(79, 86, 101);
  width: 555px;
  height: 60px;
}
.pricing__plans {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.pricing__plans-plan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border-width: 2px;
  background-color: white;
}
.pricing__plans-plan-img {
  margin-top: 79.63px;
  margin-bottom: 30px;
}
.pricing__plans-plan:nth-child(1) {
  margin-left: 174px;
}
.pricing__plans-plan:nth-child(1), .pricing__plans-plan:nth-child(2) {
  border: 2px solid rgb(221, 221, 221);
}
.pricing__plans-plan:nth-child(3) {
  border: 2px solid rgb(245, 56, 56);
  margin-right: 176px;
}
.pricing__plans-plan h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 30px;
}
.pricing__plans-plan ul {
  width: 190.26px;
  height: 150px;
}
.pricing__plans-plan li {
  display: flex;
  gap: 20px;
  width: 95px;
  white-space: nowrap;
  height: 30px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0;
  color: rgb(79, 86, 101);
}
.pricing__plans-plan p {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.pricing__plans-plan .span_bottom {
  width: 177.87px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid rgb(245, 56, 56);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgb(245, 56, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing__plans-plan .span_normal {
  color: rgb(79, 86, 101);
}
.pricing__plans-plan:nth-child(1) ul {
  margin-bottom: 130px;
  width: 190.26px;
  height: 150px;
}
.pricing__plans-plan:nth-child(2) ul {
  margin-bottom: 90px;
  width: 190.54px;
  height: 190px;
}
.pricing__plans-plan:nth-child(3) ul {
  margin-bottom: 50px;
  width: 190.54px;
  height: 230px;
}
.pricing__plans-plan:nth-child(3) .span_bottom {
  color: white;
  background-color: rgb(245, 56, 56);
  box-shadow: 0px 15px 54px rgba(245, 56, 56, 0.35);
}

.network {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  background: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.network h2 {
  width: 383.4px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0;
  margin-bottom: 20px;
  text-align: center;
}
.network p {
  width: 555px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(79, 86, 101);
  margin-bottom: 155px;
}
.network p span {
  font-weight: 500;
  height: 208.32px;
}
.network__image--main {
  width: 1060px;
  height: 537.77px;
}
.network__image--footer {
  width: 1135.64px;
  height: 208.32px;
  margin-top: 35px;
}

.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 150px;
  background: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.testimonials h2 {
  width: 383.4px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0;
  margin-bottom: 20px;
  text-align: center;
}
.testimonials_description {
  width: 555px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(79, 86, 101);
  margin-bottom: 60px;
}
.testimonials__review {
  display: flex;
  gap: 50px;
}
.testimonials__review-client {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  height: 230px;
  border-radius: 10px;
  border: 2px solid rgb(221, 221, 221);
  background-color: white;
}
.testimonials__review-client:nth-child(1) {
  border: 2px solid rgb(245, 56, 56);
  box-shadow: 0px 38px 114px rgba(13, 16, 37, 0.06);
}
.testimonials__review-client-header {
  display: flex;
  margin: 30px 30px 20px 30px;
}
.testimonials__review-client-header .header_middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-right: 108px;
}
.testimonials__review-client-header .header_middle p:nth-child(1) {
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  width: 112px;
  height: 18px;
}
.testimonials__review-client-header .header_middle p:nth-child(2) {
  width: 101px;
  height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: rgb(79, 86, 101);
  white-space: nowrap;
}
.testimonials__review-client-header .header_right {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
}
.testimonials__review-client-header .header_right p {
  width: 24px;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
}
.testimonials__review-client-header .header_right img {
  width: 16px;
  height: 16px;
}
.testimonials__review-client-footer {
  position: relative;
  top: -7px;
  margin: 0 30px 30px 30px;
}
.testimonials__review-client-footer p {
  width: 340px;
  height: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0;
}
.testimonials .bottoms {
  display: flex;
  gap: 865px;
  position: relative;
  right: 74px;
}
.testimonials .bottoms .left {
  margin-top: 82px;
}
.testimonials .bottoms .right {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}
.testimonials .bottoms .right .arrow_left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(245, 56, 56);
}
.testimonials .bottoms .right .arrow_left span {
  color: rgb(245, 56, 56);
  font-size: 30px;
  font-weight: bold;
}
.testimonials .bottoms .right .arrow_right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(245, 56, 56);
}
.testimonials .bottoms .right .arrow_right span {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.subscription {
  display: flex;
  gap: 340px;
  width: 1140px;
  height: 233px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  margin-left: 150px;
  position: relative;
  z-index: 1;
}
.subscription div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscription div h3 {
  width: 371.61px;
  height: 80px;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0;
  vertical-align: middle;
}
.subscription div p {
  width: 410px;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  color: rgb(79, 86, 101);
}
.subscription_bottom {
  width: 250px;
  height: 60px;
  color: white;
  background-color: rgb(245, 56, 56);
  width: 250px;
  height: 60px;
  box-shadow: 19px 25px 54px rgba(245, 56, 56, 0.35);
  border: 1px solid rgb(245, 56, 56);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
}

.help {
  display: flex;
  width: 1440px;
  height: 563.11px;
  align-items: center;
  position: relative;
  top: -116px;
  background-color: rgb(248, 248, 248);
}
.help__left {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
}
.help__left-header {
  display: flex;
  gap: 10px;
  align-items: center;
}
.help__left-header img {
  width: 35px;
  height: 36.23px;
}
.help__left-head {
  width: 104px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}
.help__left-head span {
  font-weight: bold;
}
.help__left-main {
  width: 340px;
  height: 61.57px;
  color: rgb(79, 86, 101);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0;
}
.help__left-main span {
  font-weight: 500;
}
.help__left-media {
  display: flex;
  gap: 20px;
}
.help__left-media img {
  position: relative;
  left: -18px;
}
.help__left-footer {
  width: 132px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(175, 181, 192);
}
.help__left-footer span {
  font-weight: 500;
}
.help__lists {
  display: flex;
  gap: 126px;
  margin-left: 230px;
}
.help__lists-list li:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.help__lists-list li:not(:nth-child(1)) {
  color: rgb(79, 86, 101);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  margin-bottom: 10px;
}

/* `Define mixins */
/* `end of mixins */
@media (min-width: 1440px) {
  .burger-menu__checkbox,
  .burger-menu {
    display: none;
  }
  .header__navigation--list .header__connection--in,
  .header__navigation--list .header__connection--out {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1439px) {
  .burger-menu__checkbox,
  .burger-menu {
    display: none;
  }
  .header__navigation--list .header__connection--in,
  .header__navigation--list .header__connection--out {
    display: none;
  }
  .header {
    width: -moz-fit-content;
    width: fit-content;
    gap: 10rem;
  }
  .features__paragraph-title {
    width: 366px;
    height: 100px;
  }
  .pricing,
  .network,
  .testimonials {
    width: -moz-fit-content;
    width: fit-content;
  }
  .network {
    width: 1440px;
  }
}
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    background: none;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    cursor: pointer;
  }
  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: black;
    transition: all 0.3s ease;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(16px) rotate(41deg);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-5px) rotate(-42deg);
  }
  #menu:checked ~ #navigation {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100% !important;
    background-color: rgba(245, 56, 56, 0.79);
    margin-top: 0;
    left: 0;
    padding-top: 2rem;
    color: white;
  }
  #menu:checked ~ #navigation ul {
    top: 100%;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  #menu:checked ~ #navigation ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid white;
  }
  #menu:checked ~ #navigation ul li .header__connection--in,
  #menu:checked ~ #navigation ul li .header__connection--out {
    color: white;
    border: none;
    background-color: none;
  }
  .header {
    padding: 2rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid black;
    position: sticky !important;
    top: 0;
    gap: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
  }
  .header__title {
    gap: 2.5rem;
  }
  .header__title--icone {
    width: 2rem;
  }
  .header__title--title {
    font-size: 2rem;
  }
  .header__navigation, .header__connection {
    display: none;
    margin-top: 2rem;
    position: absolute;
  }
  .header__connection {
    gap: 2rem;
    margin-top: 0.5rem;
    margin-left: auto;
    right: 0;
    margin-right: 2rem;
  }
  .header__connection button:nth-child(2) div {
    width: 7rem;
  }
  .burger-menu__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .section__about {
    margin: 0 auto;
  }
  .section__about--paragraph {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .section__about--paragraph_first, .section__about--paragraph_second {
    width: 100% !important;
    height: auto;
  }
  .section__about {
    padding: 2rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
  .section__about--image {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .section__about--image img {
    width: 100%;
  }
  .section__about--infos {
    top: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
    font-size: 1rem;
  }
  .section__about--infos .info {
    gap: 0.5rem;
  }
  .section__about--infos .info_icon {
    gap: 0.5rem;
  }
  .section__about--infos .info:nth-child(2) .info_icon {
    margin-left: 2.5rem;
  }
  .section__about--infos .info_icon:first-child {
    margin-left: 2.5rem;
  }
  .section__about--infos .info .info_paragraph p {
    margin-right: 2.5rem;
    font-size: 1.25rem;
  }
  .section__about--infos .info:nth-child(2) .info_paragraph p {
    margin-right: 2.5rem;
  }
  .features {
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    margin: 0 auto;
  }
  .features__img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .features__img img {
    width: 100%;
  }
  .features__paragraph {
    align-items: center;
    margin-top: 8rem;
    width: 100%;
  }
  .features__paragraph ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .features__paragraph ul p {
    grid-column: 1/3;
    padding: 0;
  }
  .pricing {
    margin: 0 auto;
  }
  .pricing__paragraph h2,
  .pricing__paragraph p {
    width: 100%;
    height: auto;
  }
  .pricing__plans {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .pricing__plans-plan:nth-child(1), .pricing__plans-plan:nth-child(3) {
    margin: 0rem;
  }
  .network {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .network div:nth-child(1) h2 {
    width: 100%;
    height: auto;
  }
  .network div:nth-child(2) p {
    width: 100%;
    height: auto;
  }
  .network div:nth-child(3),
  .network div:nth-child(4) {
    width: 100%;
  }
  .network div:nth-child(3) img,
  .network div:nth-child(4) img {
    width: 100%;
    height: auto;
  }
  .testimonials {
    margin: 0 auto;
    padding: 2rem;
  }
  .testimonials h2 {
    width: 100%;
    height: auto;
  }
  .testimonials p {
    width: 100%;
    height: auto;
  }
  .testimonials__review {
    flex-direction: column;
  }
  .testimonials .bottoms {
    display: none;
  }
  .subscription {
    gap: 3rem;
    width: 100%;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
  }
  .subscription div h3,
  .subscription div p {
    text-align: center;
  }
  .help {
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 0;
    padding-top: 2rem;
  }
  .help__left {
    margin-left: 0;
    order: 2;
  }
  .help__left-header {
    margin-top: 1rem;
  }
  .help__left p {
    margin: 0;
  }
  .help__lists {
    gap: 2rem;
    margin-left: 0.5rem;
    padding-top: 1rem;
  }
}
@media (max-width: 500px) {
  .section__about--infos {
    width: 100%;
    flex-direction: column;
  }
  .section__about--infos .info:not(:last-child) {
    border-right: none;
  }
  .section__about--infos .info {
    width: 100%;
    justify-content: center;
  }
  .section__about--infos .info .info_icon {
    margin: 0;
  }
  .section__about--infos .info .info_paragraph {
    flex-direction: row;
    gap: 0;
    margin-left: 2rem;
  }
  .section__about--infos .info .info_paragraph p {
    font-size: 2rem;
  }
  .subscription {
    margin-top: 2rem;
  }
  .subscription div h3,
  .subscription div p {
    max-width: 300px;
    height: -moz-fit-content;
    height: fit-content;
  }
}/*# sourceMappingURL=style.css.map */